<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/scripts/script.js"></script>
    <meta charset="UTF-8">
    <title><%= user.username %>'s Profile</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <%- include('partials/header.ejs'), {username: username, isAdmin: isAdmin} %>
  <div class="profileheader">
    <img src="<%= user.profile_picture || 'default-profile-pic.jpg' %>" alt="<%= user.username %>'s Profile Picture" width="100" height="100" style="border-radius: 100%;"></img>
    <h1><%= user.username %>'s Profile</h1>
  </div>
  
  <p><%= user.bio || 'No bio available.' %></p>

  <h3>Uploaded Images:</h3>
  <div>
    <% if (isOwner) { %>
      <% if (files.length > 0) { %>
        <div style="gap: 10px; display: grid; width: 500px; height: 150px; overflow-y: auto; grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(10px, 100%/4)), 1fr));" >
          <% files.forEach(file => { %>
              <a href="/delete-image?dir=<%= file %>"><img src="<%= file %>" width="150" alt="Uploaded Image"></a>
         <% }); %>
         </div>
      <% } else { %>
        <p>No Images Found.</p>
      <% } %>
    <% } else { %>
      <% if (files.length > 0) { %>
        <div style="gap: 10px; display: grid; width: 500px; height: 150px; overflow-y: auto; grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(10px, 100%/4)), 1fr));" >
          <% files.forEach(file => { %>
              <img src="<%= file %>" width="150" alt="Uploaded Image">
          <% }); %>
          </div>
      <% } else { %>
        <p>No Images Found.</p>
      <% } %>
    <% } %>
  </div>
  <br>

  <!-- Conditionally show Edit Profile button if logged-in user is the owner of the profile -->
  <% if (isOwner) { %>
    <p>Click an Image to Delete it</p>

    <a href="/upload" style="display: inline-block; margin-top: 20px;">
        <button>Upload</button>
    </a>

      <a href="/profile/edit/<%= user.username %>" style="display: inline-block; margin-top: 20px;">
          <button>Edit Profile</button>
      </a>

      <button id="deleteButton" style="background-color: red; color: white; display: inline-block; margin-top: 20px;">Delete Profile</button>
  <% } %>

  <% if (isOwner) { %>
    <a href="/logout" style="display: inline-block; margin-top: 20px;">
        <button>Logout</button>
    </a>
<% } %>

  <div id="deleteModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Are you sure you want to delete your profile?</h2>
            <p>This action cannot be undone.</p>
            <form action="/profile/delete" method="POST">
                <button type="submit" class="btn-danger">Yes</button>
            </form>
            <button class="btn-cancel" id="cancelButton" style="display: inline-block; margin-top: 10px;">Cancel</button>
        </div>
    </div>

    <script>
      // Get the modal
      var modal = document.getElementById("deleteModal");

      // Get the button that opens the modal
      var btn = document.getElementById("deleteButton");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // Get the cancel button that closes the modal
      var cancelButton = document.getElementById("cancelButton");

      // When the user clicks the "Delete Profile" button, open the modal
      btn.onclick = function() {
          modal.style.display = "block";
      }

      // When the user clicks the "x" (close) button, close the modal
      span.onclick = function() {
          modal.style.display = "none";
      }

      // When the user clicks the cancel button, close the modal
      cancelButton.onclick = function() {
          modal.style.display = "none";
      }

      // When the user clicks anywhere outside the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
  </script>
</body>